<app-menu-superior></app-menu-superior>
<div class="container main-container">
  <h4>Login Usuário</h4>
  <hr />

  <form #fb="ngForm" (ngSubmit)="loginUsuario(fb)" >
    <div class="form-horizontal">
      
      <app-template-form-control-summary [errors]="errors"></app-template-form-control-summary>

      <div class="form-group" [ngClass]="aplicaCssErro(email,fb.submitted)">
        <label class="col-md-2 control-label" for="email">Email</label>
        <div class="col-md-6">
          <input required email #email="ngModel" 
          [(ngModel)]="login.Email" 
          class="form-control" id="email" name="email" type="text" placeholder="Email (requerido)" />
          <div *ngIf="verificaValidTouched(email,fb.submitted)">
            <app-template-control-form-error msgError="Email requerido." [hidden]="!email.errors.required">
            </app-template-control-form-error>
            <app-template-control-form-error msgError="Email inválido" [hidden]="!email.errors.email">
            </app-template-control-form-error>
          </div>
        </div>
      </div>

      <div class="form-group" [ngClass]="aplicaCssErro(senha,fb.submitted)">
        <label class="col-md-2 control-label" for="senha">Senha</label>
        <div class="col-md-6">
          <input required minlength="6" #senha="ngModel" 
          [(ngModel)]="login.Password" 
          class="form-control" id="senha" name="senha" type="password" placeholder="Senha (requerido)" />
          <div *ngIf="verificaValidTouched(senha,fb.submitted)">
            <app-template-control-form-error msgError="Senha requerida." [hidden]="!senha.errors.required">
            </app-template-control-form-error>
            <app-template-control-form-error msgError="Senha deve conter pelo menos 6 caracteres." [hidden]="!senha.errors.minlength">
            </app-template-control-form-error>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
          <span><button class="btn btn-success" type="submit" [disabled]="!fb.valid || loading">Entrar</button></span>
        </div>
      </div>
    </div>
  </form>
